.page{
    background: rgba(212,228,239,1);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
}

.btn-add-product {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color:#3d94f6;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    margin-bottom: 30px;
}
.btn-add-product:hover {
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color:#1e62d0;
}
.btn-add-product:active {
    position:relative;
    top:1px;
}
.table-products{
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    max-width: 90%;
    text-align: center;
    border-collapse: collapse;
    padding: 20px;
}
.table-products td, .table-products th {
    border: 1px solid #AAAAAA;
    padding: 5px;
}
.table-products tbody td {
    font-size: 13px;
}
.table-products tr:nth-child(even) {
    background: #D0E4F5;
}
.table-products thead {
    background: #1C6EA4;
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
.table-products thead th {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
.table-products thead th:first-child {
    border-left: none;
}
