.page {
    background: rgb(53,86,100);
    /*background: linear-gradient(to right, rgb(53,86,100) 0%, rgb(93, 151, 174) 100%);*/
    max-width: 100%;
}

.btn {
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn--margin-bottom {
    margin-bottom: 30px;
}

.btn__add-product {
    padding: 6px 24px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
}

.btn__add-product:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}

.btn__edit {
    box-shadow: 3px 4px 0px 0px #f1ee60;
    background-color: #f5e263;
    background: linear-gradient(to bottom, #f9e65f 5%, #f5a522 100%);
    border-radius: 8px;
    border: 1px solid #ffaa22;
    padding: 3px 8px;
    text-shadow: 0px 1px 0px #e8d761;
    margin-bottom: 7px;
}

.btn__edit:hover {
    background-color: #ffab23;
    background: linear-gradient(to bottom, #ffa927 5%, #f6e36e 100%);
}

.btn__delete {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background-color: #c62d1f;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    border-radius: 8px;
    border: 1px solid #d02718;
    padding: 3px 8px;
    text-shadow: 0px 1px 0px #810e05;
}

.btn__delete:hover {
    background-color: #f24437;
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
}

.btn__save {
    box-shadow: 3px 4px 0px 0px #1e8a29;
    background-color: #63c67a;
    background: linear-gradient(to bottom, #34c68e 5%, #84f287 100%);
    border-radius: 8px;
    border: 1px solid #36d09e;
    padding: 3px 8px;
    text-shadow: 0px 1px 0px #2f8107;
}

.btn__save:hover {
    background-color: #21f29d;
    background: linear-gradient(to bottom, #48f2a6 5%, #1ec634 100%);

}

.table-products {
    border: 1px solid #1C6EA4;
    /*background-color: #213e4a;*/
    width: 98%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    padding: 20px;
    margin: 20px auto;
    table-layout: auto;
    box-shadow: 0px 0px 9px 2px #abd2eb;
}

.table-products td, .table-products th {
    border: 1px solid #AAAAAA;
    padding: 5px;
}

.table-products tbody td {
    font-size: 13px;
}

.table-products tr:nth-child(even) {
    background: #D0E4F5;
}

.table-products thead {
    background: #213e4a;
    background: linear-gradient(to bottom, #213e4a 0%, #213e4a 66%, #213e4a 100%);
    border-bottom: 2px solid #444444;
}

.table-products thead th {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
    padding-right: 20px;
}

.table-products thead th:first-child {
    border-left: none;
}

.table-products thead th {
    width: calc(100% / 15);
}

.table-products thead th input {
    width: 80%;
}

.table-products .sorting_asc,
.table-products .sorting_desc,
.table-products .sorting {
    cursor: pointer;
    *cursor: hand;
}

.table-products .sorting {
    background: url("/images/sort_both.png") no-repeat center right;
}

.table-products .sorting_asc {
    background: url("/images/sort_asc.png") no-repeat center right;
}

.table-products .sorting_desc {
    background: url("/images/sort_desc.png") no-repeat center right;
}

.dataTables_paginate {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dataTables_paginate a:not(:last-child) {
    margin-right: 10px;
}

.paginate_button {
    cursor: pointer;
}

span .paginate_button {
    background-color: #557d98;;
    color: white;
    padding: 4px;
    margin-right: 5px;
    border-radius: 4px;
}

.paginate_button:hover {
    background-color: #6489a3;
}